html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
:root{
    --main-color: #c8a67c;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --pink-light: #efa2b4;
    --cream: #faf6d7;
    --white: #ffffff;
    --white-alpha-40: rgba(255,255,0.40);
    --white-alpha-25: rgba(255,255,0.25);
    --backdrop-filter-blur: blur(5px)

}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;

}
::before,
::after{
    box-sizing: border-box;
}



body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, var(--main-color), var(--cream));
    background-attachment: fixed;
    font-size: 16px;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    padding: 35px 15px;
}
body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.12;
}
a{
    text-decoration: none;
}
.cursor{
  z-index: 999;
  position: fixed;
  background: #2696E8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #2696E8,
              0 0 60px #2696E8,
              0 0 100px #2696E8;
  animation: colors 5s infinite;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes colors{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

.cursor:before{
  content: '';
  position: absolute;
  background: #2696E8;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}
.portfolio-section{
    padding-bottom: 50px;
}
.portfolio-item{
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
}
.portfolio-item-thumbnail{
    padding: 10px;
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 10px;
}
.portfolio-item-thumbnail img{
    width: 100%;
    border-radius: 10px;
}  
.portfolio-item h3{
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0;
}

.ml7 {
    position: relative;
    font-weight: 900;
    font-size: 3.7em;
  }
  .ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  .ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }
  
h1,h2{
    font-weight: 600;
}
h3,h4,h5,h6{
    font-weight: 500;
}
img{
    max-width: 100%;
    vertical-align: middle;
}

section{
    
    border: 3px solid var(--white);
    min-height: calc(100vh - 70px);
    border-radius: 30px;
    display: none;
}
section.active{
    display: block;
    animation: fadeIn 0.5s ease-in-out forwards;
}
section.fade-out{
    animation: fadeOut 0.5s ease-in-out forwards;
}
.main{
    max-width: 1200px;
    margin: auto;
    position: relative;
}
.container{
    
    padding: 0 40px;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.hidden{
    display: none !important;

}
.sec-padding{
    padding: 80px 0;
}
.flex-end{
    justify-content: flex-end;
}

.section-title{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.section-title h2{
    font-size: 40px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: var(--white);
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);

}
.ml1 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }
  
  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }
  .ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
  
  .ml15 .word {
    display: inline-block;
    line-height: 1em;
  }
  

  .ml16 {
    color: #402d2d;
    padding: 40px 0;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    overflow: hidden;
  }
  
  .ml16 .letter {
    display: inline-block;
    line-height: 1em;
  }

.btn{
    line-height: 1.5;
    background-color: white;
    border: 1px solid var(--white);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
.btn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.btn:hover{
    color: var(--pink-light);
}
@keyframes fadeIn{
    0%{
        opacity: o;

    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut{
    0%{
        opacity: 1;

    }
    100%{
        opacity: 0;
    }
}
@keyframes zoomInOut{
    0%,100%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }

}
@keyframes bounceTop{
    0%,100%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
}
@keyframes bounceBottom{
    0%,100%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.bg-circles{
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 1200px;
    width: calc(100% - 30px);
    left: 50%;
    transform: translateX(-50%);
}
.bg-circles div{
    position: absolute;
    border-radius: 50%;
}
.bg-circles .circle-1{
    height: 60px;
    width: 60px;
    background-color: var(--blue);
    left: 20%;
    top: 10%;
    opacity: 0.3;
    animation: zoomInOut 8s linear infinite;
}
.bg-circles .circle-2{
    height: 70px;
    width: 70px;
    background-color: var(--pink-light);
    left: 50%;
    top: 80%;
    opacity: 0.4;
    animation: bounceTop 5s ease-in-out infinite;
}
.bg-circles .circle-3{
    height: 100px;
    width: 100px;
    background-color: var(--white);
    top: 40%;
    right: -40px;
    opacity: 0.6;
}
.bg-circles .circle-4{
    height: 50px;
    width: 50px;
    background-color: var(--orange);
    top: 90%;
    left: -30px;
    opacity: 0.6;
    animation: bounceBottom 5s ease-in-out infinite;
}
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 200;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
}
.page-loader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    backdrop-filter: var(--backdrop-filter-blur);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.6s ease;
}
.page-loader.fade-out{
    opacity: 0;
}
.page-loader div{
    border: 2px solid transparent;
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    animation: spin 1s linear infinite;
}
.page-loader div:nth-child(1){
    height: 60px;
    width: 60px;
    border-color: var(--main-color);
}
.page-loader div:nth-child(2){
    height: 45px;
    width: 45px;
    border-color: var(--blue);
    animation-duration: 1.2s;
}
.page-loader div:nth-child(3){
    height: 30px;
    width: 30px;
    border-color: var(--orange);
}



.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px 0 0;
}
.header.active{
    position: fixed;
    top: 35px;
    padding: 20px 15px;
}
.header.active .container{
    max-width: 1200px;
    margin: auto;
}
.header .nav-toggler{
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--white);
    border: 1px solid var(--pink-light);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}
.header .nav.toggler.hide{
opacity:0;
transition: none;
}

.header .nav-toggler span{
    height: 2px;
    width: 24px;
    background-color: var(--main-color);
    position: relative;
    transition: background-color 0.3s ease;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}
.header .nav-toggler span::before{
    left: 0;
    transform: translateY(-8px);

}
.header.active .nav-toggler span::before{
    transform: rotate(45deg);
}
.header .nav-toggler span::after{
    right: 0;
    transform: translateY(8px);
}
.header.active .nav-toggler span::after{
    transform: rotate(-45deg);

}
.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after{
    width: 50%;

}
.header.active .nav{
    visibility: visible;

}
.header .nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 35px 15px;
    overflow-y: auto;
    visibility: hidden;
}
.header .nav-inner{
    min-height: calc(100vh - 70px);
    max-width: 1200px;
    margin: auto;
    border: 1px solid var(--white);
    padding: 50px 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
    background-color: var(--white);
}
.header.active .nav-inner{
    opacity: 1;
}
.header .nav-inner ul li{
    text-align: center;
    
}
.header .nav-inner ul li a{
    font-size: 40px;
    text-transform: capitalize;
    color: var(--blue-dark);
    display: block;
    font-weight: 500;
    padding: 8px 15px;
    transition: color 0.3s ease;
    position: relative;

}
.header .nav-inner ul li a::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 0%;
    background-color: var(--white);
    z-index: -1;
    transition: width 0.5% ease;
}
.header .nav-inner ul li a:hover::before{
    width: 100%;
}
.header .nav-inner ul li a:hover{
    color: var(--main-color);
}
.home-section{
    display: flex;
    padding: 120px 0;
}
.home-section.active{
    display: flex;
}

.home-text,
.home-img{
    width: 50%;
    padding: 15px;
}
.home-text p{
    font-size: 18px;
}
.home-text h1{
    font-size: 50px;
    text-transform: capitalize;
}
.home-text h2{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 30px;
}

.home-img .img-box{
    max-width: 360px;
    background-color: var(--white);
    border-radius: 50%;
    border: 4px solid var(--white);
    margin: auto;
}

.home-img .img-box img{
    width: 100%;
    border-radius: 50%;

}
.about-text{
    width: 100%;
    padding: 0 15px;
    
}

.about-text btn{
    margin: 0 15px 15px 0;
   
}

.portfolio-section{
    padding-bottom: 50px;
}
.portfolio-item{
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
}
.portfolio-item-thumbnail{
    padding: 10px;
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 10px;
}
.portfolio-item-thumbnail img{
    width: 100%;
    border-radius: 10px;
}  
.portfolio-item h3{
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin-left: 170px;
  }
  .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 430px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  form div input {
    width: 80%;

    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  form div {
    position: relative;
    margin-bottom: 15px;
  }
  
  input:focus {
    border: 2px solid #f2796e;
  }
  form div i {
    position: absolute;
    padding: 10px;
  }
  .failure-icon,
.error {
  color: red;
}

.success-icon {
  color: green;
}

.error {
  font-size: 14.5px;
  margin-top: 5px;
}
.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
}

.ml10 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
  }
  
  .ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
  }
.btn-about {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #944d4d;
}
    .btn-about:hover {
        background: var(--main-color);




  @media (max-width: 900px) {
    .container {
      flex-direction: column;
    }
  
    form,
    .content {
      width: 100%;
    }
  
    .btn {
      flex-direction: column;
    }
    .image {
      height: 70vh;
    }
  }

  @media (max-width: 425px) {
    form {
      padding: 20px;
    }
  }

  @media(max-width: 991px){
    .container{
        padding: 0;
    }
  }
  @media(max-width: 767px){

  }
  @media(max-width: 575px){
  }
}

